%h1 Listing wishlist_items

%table
  %thead
    %tr
      %th Name
      %th Link
      %th Wishlist
      %th
      %th
      %th

  %tbody
    - @wishlist_items.each do |wishlist_item|
      %tr
        %td= wishlist_item.name
        %td= wishlist_item.link
        %td= wishlist_item.wishlist
        %td= link_to 'Show', wishlist_item
        %td= link_to 'Edit', edit_wishlist_item_path(wishlist_item)
        %td= link_to 'Destroy', wishlist_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Wishlist item', new_wishlist_item_path
