%p#notice= notice

%p
  %b User:
  = @wishlist.user.id
%p
  %b Count:
  = @wishlist.count
  
%table
  %thead 
    %tr
      %th Items
      
  %tbody
    - @wishlist.wishlist_items.each do |item|
      %tr
        - if item.link.blank?
          %td= item.name
        - else
          %td= link_to(item.name, item.link)

%br
= link_to 'Back', wishlists_path
= link_to 'Add', new_wishlist_item_path(wishlist_id: @wishlist.id), class: 'button'
